.content
  .row
    .span8.title
      Rock Paper Scissors Lizard Spock
  .row
    .span4
      .row.playertypes
        &nbsp;
        %span.player1type
        %span.vs
        %span.player2type
      .row.playerchoices
        &nbsp;
        %span.player1choice
        %span.vs
        %span.player2choice
    .span3
      .row.result
        &nbsp;
  .row
    .player1score.span4.score
      Player 1:
      %span.points
        0
      Points
    .player2score.span4.score
      Player 2:
      %span.points
        0
      Points
  .row
    <img id="rpsls-map" src="/img/rpsls.jpg" usemap="#rpsls-map" border="0" alt="" />
    <map id="rpsls-map" name="rpsls-map">
    <area shape="rect" coords="68,160,193,284" href="#" alt="Spock" title="Spock"    />
    <area shape="rect" coords="185,71,310,195" href="#" alt="Rock" title="Rock"    />
    <area shape="rect" coords="305,160,430,284" href="#" alt="Paper" title="Paper"    />
    <area shape="rect" coords="261,299,386,423" href="#" alt="Scissors" title="Scissors"    />
    <area shape="rect" coords="113,300,238,424" href="#" alt="Lizard" title="Lizard"    />
    </map>
  .row
    &nbsp;
  .row
    %h6
      How to Play
    <iframe width="560" height="315" src="http://www.youtube.com/embed/fqlDc2VICZ0" frameborder="0" allowfullscreen></iframe>
  .row
    &nbsp;
  .row
    %h6
      Rules
      %a{href: "http://en.wikipedia.org/wiki/Rock-paper-scissors-lizard-Spock", target: '_blank'}
        (Source: Wikipedia)
    %ul
      %li Scissors cuts Paper
      %li Paper covers Rock
      %li Rock crushes Lizard
      %li Lizard poisons Spock
      %li Spock smashes Scissors
      %li Scissors decapitates Lizard
      %li Lizard eats Paper
      %li Paper disproves Spock
      %li Spock vaporizes Rock
      %li Rock crushes Scissors
