%html
  %head
    %title= 'Rock Paper Scissors Lizard Spock'
    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/underscore-min.js'}
    %script{type: 'text/javascript', src: '/javascripts/app.js'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap-responsive.min.css'}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  %body.game-content
    .container-fluid
      .span8
        = yield
    %footer.container-fluid
      .span4.offset4
        [ Built with
        %a{href: "http://apify.heroku.com/resources/4fe15c0343ba68000100000b", target: '_blank'}
          APIfy
        and
        %a{href: "http://www.image-maps.com", target: '_blank'}
          ImageMaps
        ]